.main {
  flex: 1;
  min-height: 100vh;
  padding-bottom: 1vh;
  position: relative;
}
.main .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}

.navbar img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.main-container {
  max-width: 900px;
  margin: auto;
}
.main .greet {
  margin: 10px 0px;
  font-size: 56px;
  color: #c4c7c5;
  font-weight: 500;
  padding: 20px;
}

.greet span {
  background: -webkit-linear-gradient(16deg, blue, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 15px;
  padding: 10px;
}
.card {
  height: 150px;
  padding: 15px;
  background-color: #f0f4f9;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.logo {
  width: 35px;
  padding: 5px;
  position: absolute;
  background-color: white;
  border-radius: 20px;
  bottom: 10px;
  right: 10px;
}
.card p {
  color: #585858;
}
.card:hover {
  background-color: #dcdcdc;
}

.result {
  padding: 0px 5%;
  max-height: 70vh;
  overflow-y: scroll;
}

.Heading {
  color: #ff000d;
  background-image: linear-gradient(225deg, #ff000d 59%, #141cff 38%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.result::-webkit-scrollbar {
  display: none;
}

.result-title {
  margin: 40px 0px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.result-img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.result-data{
  font-size: 17px;
  font-weight: 300;
  line-height: 1.8;

}